.recommend{
  font-size: 1.3rem;
  color: var(--col-grey-dark-3);
  display: flex;
  align-items: center;

  &__count{
    margin-right: auto;
  }

  &__friends{
    display: flex;
  }

  &__foto{
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child){
      margin-right: -1.5rem;
    }
  }
}
