.search{
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--col-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.5rem;
    transition: all .2s ease-in-out;

    &:focus{
      outline: none;
      width: 100%;
      background-color: var(--col-grey-light-3);
      & + .search__button{
        background-color: var(--col-grey-light-3);
      }
    }

    &::-webkit-input-placeholder{
      font-weight: 100;
      color: var(--col-grey-light-4);
    }
  }

  &__button{
    border: none;
    background-color: var(--col-grey-light-2);
    &:focus{
      outline: none;
    }
    &:active{
      transform: translate(2px);
    }
  }

  &__icon{
    height: 2rem;
    width: 2rem;
    fill: var(--col-grey-dark-3);
  }
}
