.side-nav{
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item{
    position: relative;

    &:not(:last-child){
      margin-bottom: .5rem;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background: var(--col-primary);
      transform: scaleY(0);
      transition:
          transform .1s,
          width .3s .1s cubic-bezier(1,0,0,1),
          background-color .2s;
          // http://cubic-bezier.com/
    }
    &--active::before{
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before{
      background-color: var(--col-primary-light);
    }
  }

  &__link{
    &:link,
    &:visited{
      color: var(--col-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      display: flex;
      align-items: center;
      z-index: 10;
      position: relative;
    }
  }

  &__icon{
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }

}

.legal{
  font-size: 1rem;
  text-align: center;
  padding: 1.5rem;
  color: var(--col-grey-light-4);
}
