/// CSS Variables ////
:root{
  --col-primary: #eb2f64;
  --col-primary-light: #FF3366;
  --col-primary-dark: #BA265D;
  --col-grey-light-1: #faf9f9;
  --col-grey-light-2: #f4f2f2;
  --col-grey-light-3: #f0eeee;
  --col-grey-light-4: #ccc;
  --col-grey-dark-1: #333;
  --col-grey-dark-2: #777;
  --col-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light:  0 2rem 5rem rgba(0,0,0,.1);
  --line: 1px solid var(--col-grey-light-2);
}

/// icons ////
/// we will use => https://icomoon.io/app/#/select/library
/// free library to use svg icons which can be edited in css

/// Reset ///
*{
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; // 1rem => 10px
}
////////////////

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--col-grey-dark-2);
  background-image: linear-gradient(to right bottom,
    var(--col-primary-light), var(--col-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

